<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp~Microservice</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
    </head>
    <body>
      <div id="main">
          <h1>
              Timestamp Microservice
            </h1>
        <p>
          <h2>
         EXAMPLE USAGE:
       </h2>
      
       <code >      
          <span class="location" ></span>December 2015
       </code> <br>
       <code>
          <span class="location" ></span>1450137600
       </code>
          </p>
          <p>
            <h2>
               EXAMPLE Output:
             </h2>
           <code>
           { "unix": 1450137600, "natural": "December 15, 2015" }
           </code>
             </p>
             
        </div>
        <script src="./client.js"></script>
    </body>
    <footer>
      <a href="https://twitter.com/RoardiLeone">
        Twitter <em>@RoardiLeone</em>
      </a>
    </footer>
</html>